<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".View.DirectoryActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.GiaoVien.ManHinhBangDieuKhien"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.GiaoVien.ManHinhDanhSachLop"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.GiaoVien.ManHinhChatGiaoVien"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.GiaoVien.ManHinhDiemDanh"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.GiaoVien.ManHinhHoatDong"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.GiaoVien.ManHinhDanhSachHocSinhCuaLop"
            android:exported="false" />
        <activity
            android:name=".View.GiaoVien.ManHinhChucNangBaoCaoSuCoYTe"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.GiaoVien.ManHinhChucNangThongBao"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.GiaoVien.ManHinhChucNangHoSoHocSinh"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.GiaoVien.ManHinhNhanXetVaDanhGia"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.GiaoVien.ManHinhChucNangSucKhoeVaChieuCao"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.GiaoVien.ManHinhThongTinChungCuaHocSinh"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.GiaoVien.ManHinhChucNangHocPhi"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.GiaoVien.ManHinhChucNangQuanLyDonXinNghi"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.GiaoVien.ManHinhXacNhanLuuDiemDanhVaGuiThongBao"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.GiaoVien.ManHinhChiTietDonXinNghi"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.GiaoVien.ManHinhChucNangCapNhatKhauPhanAn"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.GiaoVien.ManHinhChiTietThucDon"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.GiaoVien.ManHinhThongTinTaiKhoanCaNhan"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.GiaoVien.ManHinhChinhSuaThongTinCaNhan"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.GiaoVien.ManHinhChucNangThayDoiMatKhau"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.GiaoVien.ManHinhDanThuoc"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.GiaoVien.ManHinhHomThuGiaoVien"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.GiaoVien.ManHinhChiTietThongBao"
            android:exported="false" />
        <activity
            android:name=".View.PhuHuynh.AttendanceCalendarActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.PhuHuynh.ChangePasswordActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.PhuHuynh.ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.PhuHuynh.ChildProfileActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.PhuHuynh.CommentActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.PhuHuynh.FeeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.PhuHuynh.HealthActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.PhuHuynh.HomePHActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.PhuHuynh.LeaveRequestActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.PhuHuynh.MealDetailActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.PhuHuynh.NotificationActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.PhuHuynh.PlayActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.PhuHuynh.ProfileActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.PhuHuynh.ReportActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.PhuHuynh.RequestChangeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.PhuHuynh.TeacherInfoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.PhuHuynh.UpdateInfoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.ForgotPasswordActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.PhuHuynh.ActivityActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.PhuHuynh.ListChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.PhuHuynh.MedicationRequestPHActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.PhuHuynh.PickUpActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.PhuHuynh.ChatDetailActivity"
            android:exported="false" />
        <activity
            android:name=".View.PhuHuynh.AssessmentPHActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.PhuHuynh.AddAuthorizedPersonActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.PhuHuynh.DailyLessonsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>